<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration">
<!-- Connection pool: https://stackoverflow.com/a/2067546/4763595 -->
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name="hibernate.show_sql">false</property>

        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <!--<property name="hibernate.connection.username"></property>-->
        <!--<property name="hibernate.connection.password"></property>-->
        <!--<property name="hibernate.connection.url"></property>-->

        <mapping class="com.lonebytesoft.hamster.accounting.model.Account"/>
        <mapping class="com.lonebytesoft.hamster.accounting.model.Category"/>
        <mapping class="com.lonebytesoft.hamster.accounting.model.ConfigEntry"/>
        <mapping class="com.lonebytesoft.hamster.accounting.model.Currency"/>
        <mapping class="com.lonebytesoft.hamster.accounting.model.Operation"/>
        <mapping class="com.lonebytesoft.hamster.accounting.model.Transaction"/>
    </session-factory>
</hibernate-configuration>
